AddDefaultCharset utf8

# Disable Indexing of folders
<IfModule mod_autoindex.c>
  Options -Indexes
</IfModule>

<IfModule mod_rewrite.c>
  Options +FollowSymLinks
  RewriteEngine On
  RewriteBase /

  RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
  RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

  RewriteCond %{REQUEST_URI} ^/index$ [OR]
  RewriteCond %{REQUEST_URI} ^/index[.]+(\w+)$
  RewriteRule . / [R=301,L]

  RewriteCond %{REQUEST_URI} ^/admin/index$ [OR]
  RewriteCond %{REQUEST_URI} ^/admin/index[.]+(\w+)$
  RewriteRule . /admin [R=301,L]

  RewriteRule ^uploads/?(.*)?$ /static/web/uploads/$1 [L]
  RewriteRule ^admin/?(.*)?$ /backend/web/$1 [L]
  RewriteRule ^([^/].*)?$ /frontend/web/$1 [L]

  # simple subdomains
  #RewriteCond %{HTTP_HOST} !^emitents.com [NC]
  #RewriteCond %{HTTP_HOST} ^(www.)?([^.]+).emitents.com [NC]
  #RewriteRule ^$ site_page.php?name=%2 [L]
</IfModule>
