<IfModule mod_rewrite.c>

    RewriteEngine On

    # If file exists, use it directly
    # Otherwise forward it to no_image
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule . no-image.jpg
</IfModule>