<IfModule mod_rewrite.c>

    RewriteEngine On

    # If a directory or a file exists, use it directly
    RewriteCond %{REQUEST_FILENAME} !-f
    #RewriteCond %{REQUEST_FILENAME} !-d

    # Otherwise forward it to no_image
    RewriteRule . /frontend/web/themes/basic/img/no-image.jpg
</IfModule>